# Environment
TEST_ENV=qa

# Application
BASE_URL=https://www.saucedemo.com

# Test user
TEST_USERNAME=
TEST_PASSWORD=

# API
API_BASE_URL=

# Gmail
GMAIL_TO=
GMAIL_CLIENT_ID=
GMAIL_CLIENT_SECRET=
GMAIL_REFRESH_TOKEN=